/*Agregaremos la fuente que vamos a utilizar en la pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background:linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url("img/principal.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: rgba(0,0,0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h3{
    text-align: center;
    color:rgb(218, 153, 15);
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #ffff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color:rgb(255, 147, 23);
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
    width: 30px;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: rgb(255, 147, 23);
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#inicio .contenido .presentacion .bienvenida{
    font: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .contenido .presentacion h2 span{
    font-size: 30px;
    color:rgb(228, 95, 33);
}
#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #ffff;
    border-radius: 50px;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: rgb(219, 120, 28);
}
#icono-nav{
    color:#ffff;
    display: none;
}

/*estilos de la seccion sobre mi*/
#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}
#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 80px;
    border: 9px solid lightblue;
    background-color: #d65c3d;
}
#sobremi img{
    height: 100%;
}
#sobremi .sobremi{
    margin: 0 4px;
}
#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi h2 span{
    color: #d65c3d;
}
#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color:#565656;
    margin-bottom: 12px;
}
#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover{
    background-color: #d65c3d;
    color: white;
}
/*ESTILO DE LA SECCION SOBRE MI*/
#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;   
}
#servicios .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#servicios .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-right: 5px;
    transition: .5s;
}
#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #6d2424, -5px -5px 10px #ee5e5e;
}
#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}
#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#servicios .fila .servicio hr{
    width: 50%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}
#servicios .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;
}
/*SECCION DE HABILIDADES*/
.contenedor-skills{
    background:linear-gradient(#2be2bacc, rgba(33,16,16,.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: rgb(244, 248, 12);
}
.contenedor-skills .skill .barra{
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/*los estilos de progreso 1 se aplicaran con javascrip
para lograr el efecto de la barra de porcentajes*/
.contenedor-skills .skill .barra .barra-progreso1{
    background-color: red;
    width: 80%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2{
    background-color: red;
    width: 70%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
    background-color: red;
    width: 70%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4{
    background-color: red;
    width: 80%;
    height: 6px;
    animation: progreso4 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5{
    background-color: red;
    width: 80%;
    height: 6px;
    animation: progreso5 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso6{
    background-color: red;
    width: 70%;
    height: 6px;
    animation: progreso6 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso7{
    background-color: red;
    width: 70%;
    height: 6px;
    animation: progreso7 2s forwards;
}
/*ahora crearemos las animaciones de las barras*/
@keyframes progreso1{
    0%{
        width: 0;
    }
    100%{
        width:80%;
    }
}
@keyframes progreso2{
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
}
@keyframes progreso3{
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
}
@keyframes progreso4{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes progreso5{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes progreso6{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes progreso7{
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
}

/*SECCION DEL PORTAFOLIO*/
.briefcase{
    background-color: var(--dark1);
}

.briefcase-section h2{
    padding: 40px;
    text-align: center;
}

.briefcase-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap: 15px;
    width: 90%;
    margin:0 auto;
}

.briefcase-grid img{
    width: 100%;
    border-radius: 15px; 
    padding: 10px;
    height: 190px;
    transition: transform 0.5s ease;
}

.briefcase-grid img:hover{
    transform:scale(1.2);
}

.skills{
    background-color: var(--dark1);
    
}
/*SECCION DE ESTILOS EN EL CONTACTO*/
#contacto{
    padding: 100px 15px;
}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-weight: bold;
}
#contacto .btn-enviar:hover{
    background-color: #d65c3d;
    color: #ffff ;
}
/*ESTILOS DE LA SECCION FOOTER*/
footer {
    background-color: #000;
    color:#fff;
    text-align: center;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
    color: #ffff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/*seccion que hace la pagina responsive*/
@media screen and (max-width:800px) {
    .redes{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido.presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #servicios{
        padding: 50px 15px;
    }
    #servicios .fila .servicio{
        margin: 10px auto;
    }
    .contenedor-skills{
        padding: 50px 20px;
    }
    #portfolio{
        padding: 20px 0;
    }
    #portfolio .fila{
        display: block;
    }
    #portfolio .fila .proyecto{
        margin:  10px auto;
    }
    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }
}




  /* Estilos para el botón de enviar */
  .btn-enviar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para el fondo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content{
    font-family: cursive;
    background-color: green;
    border-radius: 10px;
}
.modal-content span{
   color: red;
   font-size: 50px;
}




/* Seccion de estilos para herramientas y conocimientos */

.skillsKnowled{
    background-color: var(--dark1);
    
}

/*codigo de la seccion de conocimientos*/

section.skillsKnowled{
    background-color: var(--dark1);
}

.skillHeraamientas{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
    
}

.skillHeraamientas h2{
    padding: 40px;
    text-align: center;
}

.skillHeraamientas img{
    width:90px;
    height: 90px;
}

.knowledgeIcons{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    justify-content: center;
    gap: 25px;
}

.tools{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 30px;
}

/*ANIMACION DE LA SECCION DE HERAMIENTAS Y CONOCIMIENTOS*/
.skillHeraamientas h3{
    background-color: var(--dark2);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.2rem;
    width: 100px;
    opacity: 0;
    transform: translate(0px,-110px);
    color: var(--primary);
    transition: transform 0.6s ease, opacity 0.4s ease;
}

.knowledgeIcons>div:hover h3,
.tools>div:hover h3{
    transform: translate(0px,-150px);
    opacity: 1;
}
/*ESTILOS DE LA SECCION ABOUT*/
.about{
    background-color: var(--dark2);
}
.about-flex{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 90px;
}
.about p{
    font-size: 1.5rem;
    width:70%;
    margin: 0 auto;
    line-height: 2.5rem;
    color: var(--secondary-light);

}
.social{
    border-left: var(--secondary)5px solid;
    padding-left: 50px;
}
.social-img{
    width: 60px;
    margin: 10px;
}
.social img{
    width: 60px;
    height: 60px;
}
.social img:hover{
    transform: scale(1.2);
}
footer{
    background-color: var(--dark2);
    text-align: center;
    color: var(--secondary-light);
    
}
/*SECCION DEL RESPOSITORIO*/
.icon-element{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.icon-element a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    font-size: 1.5rem;
}
.icon-element img{
    width: 80px;
    height: 80px;
}
.icon-element img:hover{
    transform: scale(1.2);
}
.icon-element span:hover{
    color: chocolate;
}
